<h2>Transactions</h2>

<table class="table table-striped">
  <th>Date</th>
  <th>Name</th>
  <th>Category</th>
  <th>Amount</th>
  <% @transactions.each do |t| %>
    <tr>
      <td><%= t[:date] %></td>

      <% if t[:data_source] == 'venmo' %>
        <td><%= t[:note] %></td>
      <% else %>
        <td><%= t[:name] %></td>
      <% end %>

      <%# hack, idk how to do better easily %>
      <% if t[:category_id] && t[:data_source] == 'venmo' %>
        <td><%= Category.find(t[:category_id]).name %></td>
      <% elsif t[:category_id] %>
        <td><%= t[:category_id][0] %></td>
      <% else %>
        <td></td>
      <% end %>

      <td><%= t[:amount] %></td>
    </tr>
  <% end %>
</table>
