<!DOCTYPE html>
<html>
<head>
  <title>Spending</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_user %>
    <div class="background-hero">
      <div class="shade"></div>
    </div>
  <% end %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert.alert-info">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
